# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
/AlgoreaBackend
/bin/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE's artefacts
.vscode

# Tests artefacts
/test-results

# Logs
/log/*.log

# Local config
conf/config.yaml

# Keys
*.pem

# Swagger specs
swagger.yaml
swagger.yml
swagger.json
